// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// imported in the head

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.flex {
  display: flex;
}

.alert {
  top: 50px;
  right: 345px;
  height: fit-content;
  font-size: 12px;
}

@media only screen and (min-width: 768px){
  .alert {
    display: none;
  }
}
