<div id="about" class="row my-5">
  <div class="col-6">
    <div class="container">
      <h3>Hello! I'm...</h3>
      <h1>Jessica Nash</h1>
      <h2>Fullstack Developer & Web Designer</h2>
      <p>I'm a developer with a sense for lovely designs and problem solving. Providing fresh and uncomprimised user experiences is my goal.</p>
    </div>
  </div>
  <div class="col-4 d-flex flex-row justify-content-center">
    <img src="../images/main-img.png" alt="" id="big-avatar">
  </div>
  <div class="col-2 d-flex flex-row flex-column justify-content-center">
    <div class="button-social d-flex flex-column justify-content-center align-items-center">
      <i class="fa-brands fa-github button-social-icon"></i>
      <%= link_to "", "https://github.com/jess-nash", target: '_blank', class: 'button-social-link' %>
    </div>
    <div class="button-social d-flex flex-column justify-content-center align-items-center">
      <i class="fa-brands fa-linkedin button-social-icon"></i>
      <%= link_to "", "https://www.linkedin.com/in/jess-nash", target: '_blank', class: 'button-social-link' %>
    </div>
    <div class="button-social d-flex flex-column justify-content-center align-items-center">
      <i class="fab fa-twitter button-social-icon"></i>
      <%= link_to "", "https://twitter.com/itsmikutan", target: '_blank', class: 'button-social-link' %>
    </div>
    <div class="button-social d-flex flex-column justify-content-center align-items-center">
      <i class="fa-solid fa-envelope button-social-icon"></i>
      <%= mail_to "jeenash2@gmail.com", "", target: '_blank', class: 'button-social-link' %>
    </div>
  </div>
</div>
