<div id="about" class="row my-5">
  <div class="col-6" id="about-text">
    <div class="container">
      <h3 id="about-intro">Hello! I'm</h3>
      <h1 id="about-title">Jessica Nash</h1>
      <h2 id="about-subtitle">Fullstack Developer & Web Designer</h2>
      <p id="about-description">I'm a developer with a sense for lovely designs and problem solving. Providing fresh and uncomprimised user experiences is my goal.</p>
    </div>
  </div>
  <div class="col-4 d-flex flex-row justify-content-center">
    <img src="../images/main-img.png" alt="" id="big-avatar">
  </div>
</div>
