<div class="divider">
  <div class="line"></div>
  <p> Contact Me</p>
</div>

<div class="contact-container">
    <p class="contact-intro">Let's chat!</p>
    <p>Wanna get in touch or talk about a project?</p>
    <p>Feel free to contact me via email at <%= mail_to "jessicanashdev@gmail.com", "jessicanashdev@gmail.com", target: '_blank', class:"email-link"%></p>
</div>
