<footer class="row my-1">
  <div class="col-12">
    <div id="contact">
      <div class="d-flex justify-content-center flex-wrap">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-solid fa-envelope"></i>
          <%= mail_to "jeenash2@gmail.com", "", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "https://github.com/jess-nash", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin"></i>
          <%= link_to "", "https://www.linkedin.com/in/jess-nash", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
    <div id="copyright" class="d-flex justify-content-center my-2">
      <p>© 2022 Jessica Nash. All rights reserved.</p>
    </div>
  </div>
</footer>
