<div class="container home-container" id="home-text">
    <h5 id="home-intro">Hello! I'm</h5>
    <h1 id="home-name">Jessica Nash</h1>
    <h5 id="home-subtitle">Fullstack Developer & Web Designer</h5>
    <%# <p id="home-description">I'm a developer with a sense for lovely designs and problem solving. Providing fresh and uncomprimised user experiences is my goal.</p> %>
  <div class="me">
    <img src="../images/tinted-with-circle.png" alt="Photo of me">
  </div>
  <div class="divider">
    <div class="line" id="home-line"></div>
  </div>

  <%= partial "partials/mobile-social-buttons"%>
</div>
