<div id="mobile-social-buttons">
  <div class="button-social">
    <i class="fa-brands fa-github mobile-button-social-icon"></i>
    <%= link_to "", "https://github.com/jess-nash", target: '_blank', class: 'button-social-link' %>
  </div>
  <div class="button-social">
    <i class="fa-brands fa-linkedin mobile-button-social-icon"></i>
    <%= link_to "", "https://www.linkedin.com/in/jess-nash", target: '_blank', class: 'button-social-link' %>
  </div>
  <div class="button-social">
    <i class="fab fa-twitter mobile-button-social-icon"></i>
    <%= link_to "", "https://twitter.com/itsmikutan", target: '_blank', class: 'button-social-link' %>
  </div>
  <div class="button-social">
    <i class="fa-solid fa-envelope mobile-button-social-icon"></i>
    <%= mail_to "jessicanashdev@gmail.com", "", target: '_blank', class: 'button-social-link' %>
  </div>
</div>
