<div class="row my-5">
  <div class="col-12">
    <div class="divider">
      <div class="line"></div>
      <p> Portfolio</p>
    </div>
    <div id="portfolio">
      <div class="projects">
        <%= partial 'partials/project-pluto' %>
        <%= partial 'partials/project-lendstruments' %>
      </div>
    </div>
  </div>
</div>
