<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="portfolio">
        <div class="divider">
          <div class="line"></div>
          <p> Portfolio</p>
        </div>
        <div class="projects">
          <div class="pluto row">
            <div class="col-4 d-flex justify-content-end">
              <img src="../images/pluto-mobile.png" alt="pluto app screenshot" id="pluto-img">
            </div>
            <div class="col-8 my-2">
              <h2 id="project-title">Pluto</h2>
              <p id="project-subtitle">For happier and healthier pet families</p>
              <div class="tools-used d-flex">
                <div class="">
                  <i class="fab fa-html5 project-tool-icon"></i>
                </div>
                <div class="">
                  <i class="fab fa-css3-alt project-tool-icon"></i>
                </div>
                <div class="">
                  <i class="fab fa-js-square project-tool-icon"></i>
                </div>
                <div class="">
                  <img src="../images/ruby-icon.png" alt="" class="project-tool-img">
                </div>
                <div class="">
                  <img src="../images/rails-icon.png" alt="" class="project-tool-img">
                </div>
                <div class="">
                  <img src="../images/line-devop.png" alt="" class="project-tool-img">
                </div>
              </div>
            </div>
          </div>
          <div class="lendstruments">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
