<div class="divider">
  <div class="line"></div>
  <p> Portfolio</p>
</div>

<div class="container portfolio-container">
  <article class="portfolio-item">
    <div class="portfolio-item-img">
      <img src="../images/pluto-collage.png" alt="Pluto app collage">
    </div>
    <div class="portfolio-info-container">
      <div class="portfolio-title-container">
        <h3>Pluto</h3>
        <div class="portfolio-icons-container">
          <a href="http://www.pluto-pets.me/" target="_blank" class="portfolio-icon"><i class="fa-solid fa-link"></i></a>
          <a href="https://github.com/jess-nash/Pluto" target="_blank" class="portfolio-icon"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Pluto is a mobile first web app where you can log your pet's medical information, make daily journal entries as well as add pet sitters to your family to help them understand your pet's needs. Pluto used a LINE API in order to get timely notifications.</div>
          <div class="swiper-slide">As lead developer, my roles included managing the GitHub repository, implementing backend features and gems such as Devise and Pundit, and deployment on Heroku.</div>
          <div class="swiper-slide">This app was created in 3 weeks in a team of 4 as a capstone project.</div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </article>

  <article class="portfolio-item">
    <div class="portfolio-item-img">
      <img src="../images/lendstruments-collage.png" alt="Lendstruments collage">
    </div>
    <div class="portfolio-info-container">
      <div class="portfolio-title-container">
        <h3>Lendstruments</h3>
        <div class="portfolio-icons-container">
          <!-- <a href="" target="_blank" class="portfolio-icon"><i class="fa-solid fa-link"></i></a> -->
          <a href="https://github.com/k-ashmore/Lendstruments" target="_blank" class="portfolio-icon"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Lendstruments is a marketplace app for renting instruments. Renters can search for their desired instruments and view the item's pickup location on a map. Or as an owner of an instrument, you can manage all your bookings in one place.</div>
          <div class="swiper-slide">Some of my roles in this project included implementing backend logic and tracking the progress of each feature in order to deploy in a timely manner.</div>
          <div class="swiper-slide">The Mapbox API was used to retrieve the flat's address.</div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </article>

  <article class="portfolio-item">
    <div class="portfolio-item-img">
      <img src="../images/movies-n-chill.png" alt="movies-n-chill screenshot" id="">
    </div>
    <div class="portfolio-info-container">
      <div class="portfolio-title-container">
        <h3>movies-n-chill</h3>
        <div class="portfolio-icons-container">
          <a href="https://movies-n-chill.onrender.com/" target="_blank" class="portfolio-icon"><i class="fa-solid fa-link"></i></a>
          <a href="https://github.com/jess-nash/rails-watch-list" target="_blank" class="portfolio-icon"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Simple rails app where you can create and manage your movies lists</div>
          <div class="swiper-slide">...</div>
          <div class="swiper-slide">...</div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </article>

</div>
<p style="font-size: 10px; text-align: center; padding-top: 50px;"><em>More projects coming soon...</em></p>
