<div class="pluto row justify-content-start">
            <div class="pluto-left col-3 d-flex justify-content-end">
              <img src="../images/pluto-mobile.png" alt="pluto app screenshot" id="pluto-img">
            </div>
            <div class="pluto-right col-9 my-2">
              <h2 class="project-title">Pluto</h2>
              <p class="project-subtitle">For happier and healthier pet families</p>
              <div class="lines">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
              </div>
              <h3 class="project-role">Role: Lead Developer</h3>
              <ul class="project-description">
                <li>Pluto is a mobile first web app where you can log your pets medical information, make daily journal entries as well as add pet sitters to your family to help them understand your pets needs. Pluto used a LINE API in order to get timely notifications.</li>
                <li>As lead developer, my roles included managing the GitHub repository, implementing backend features and gems such as Devise and Pundit, and deployment on Heroku.</li>
                <li>This app was created in 3 weeks in a team of 4 as a capstone project.</li>
              </ul>
              <div class="tools-used d-flex">
                <div class="">
                  <i class="fab fa-html5 project-tool-icon"></i>
                </div>
                <div class="">
                  <i class="fab fa-css3-alt project-tool-icon"></i>
                </div>
                <div class="">
                  <i class="fab fa-js-square project-tool-icon"></i>
                </div>
                <div class="">
                  <img src="../images/ruby-icon.png" alt="" class="project-tool-img" id="ruby-img">
                </div>
                <div class="">
                  <img src="../images/rails-icon.png" alt="" class="project-tool-img" id="rails-img">
                </div>
                <div class="">
                  <img src="../images/line-devop.png" alt="" class="project-tool-img" id="line-img">
                </div>
              </div>
              <div class="pluto-buttons d-flex my-2">
                <a href="https://www.youtube.com/" class="white-button" target="_blank">
                  <span>WATCH PRESENTATION <i class="fab fa-youtube"></i></span>
                </a>
                <a href="https://www.pluto-pets.me/" class="white-button" target="_blank">
                  <span>TRY DEMO <i class="fas fa-arrow-up-right-from-square"></i></span>
                </a>
                <a href="https://github.com/jess-nash/Pluto" class="white-button" target="_blank">
                  <span>CODE <i class="fas fa-code"></i></span>
                </a>
              </div>
            </div>
          </div>
