<div class="lendstruments row justify-content-start mt-5 px-5">
            <div class="lendstruments-left col-6 my-2">
              <h2 class="project-title">Lendstruments</h2>
              <p class="project-subtitle">For happier and healthier pet families</p>
              <div class="lines">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
              </div>
              <h3 class="project-role">Role: Project Manager</h3>
              <ul class="project-description">
                <li>Lendstruments is a marketplace app for renting instruments. Renters can search for their desired instruments and view the item's pickup location on a map. Or as an owner of an instrument, you can manage all your bookings in one place.</li>
                <li>The Mapbox API was used to retrieve the flat's address.</li>
                <li>Some of my roles in this project included implementing backend logic and tracking the progress of each feature in order to deploy in a timely manner.</li>
              </ul>
              <div class="tools-used d-flex">
                <div class="">
                  <i class="fab fa-html5 project-tool-icon"></i>
                </div>
                <div class="">
                  <i class="fab fa-css3-alt project-tool-icon"></i>
                </div>
                <div class="">
                  <i class="fab fa-js-square project-tool-icon"></i>
                </div>
                <div class="">
                  <img src="../images/ruby-icon.png" alt="" class="project-tool-img" id="ruby-img">
                </div>
                <div class="">
                  <img src="../images/rails-icon.png" alt="" class="project-tool-img" id="rails-img">
                </div>
              </div>
              <div class="lendstruments-buttons d-flex my-2">
                <div class="button-container">                  <%# <a href="https://lendstruments.herokuapp.com/" class="white-button tooltip-button" target="_blank"> %>
                  <a class="white-button tooltip-button" target="_blank">
                    <span>TRY DEMO <i class="fas fa-arrow-up-right-from-square"></i></span>
                  </a>
                  <p class="tooltip-text">Coming Soon</p>
                </div>
                <a href="https://github.com/k-ashmore/Lendstruments" class="white-button" target="_blank">
                  <span>CODE <i class="fas fa-code"></i></span>
                </a>
              </div>
            </div>
            <div class="lendstruments-right col-6">
              <img src="../images/lendstruments-desktop.png" alt="Lendstruments desktop screenshot" id="lendstruments-img">
            </div>
          </div>
