<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div class="divider">
        <div class="line"></div>
        <p> Resume</p>
      </div>
      <div id="resume">
        <div class="resume-link d-flex justify-content-center">
          <a href="../images/jessica-nash-resume.pdf" target="blank" class="white-button">VIEW RESUME <i class="fa-solid fa-file pl-2 resume-icon"></i></a>
          <a href="../images/jessica-nash-resume.pdf" download class="white-button">DOWNLOAD RESUME <i class="fas fa-download pl-2 resume-icon"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
