<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div class="divider">
        <div class="line"></div>
        <p> Technologies</p>
      </div>
      <div id="technologies" class="d-flex justify-content-center">
        <div class="">
          <div class="box long-box" id="frontend">
            <div class="box-header d-flex justify-content-center">
              <h5>FRONTEND</h5>
            </div>
            <div class="technology-images d-flex flex-column align-items-center">
              <div class="technologies-line1">
                <img class="technology-img" src="../images/images-icons/html.png" alt="">
                <img class="technology-img" src="../images/images-icons/css.png" alt="">
                <img class="technology-img" src="../images/images-icons/sass.png" alt="">
                <img class="technology-img" src="../images/images-icons/javascript.png" alt="">
              </div>
              <div class="technologies-line2">
                <img class="technology-img" src="../images/images-icons/bootstrap.png" alt="">
                <img class="technology-img" src="../images/images-icons/react.png" alt="">
                <img class="technology-img" src="../images/images-icons/jquery.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <div class="box short-box" id="backend">
            <div class="box-header d-flex justify-content-center">
              <h5>BACKEND</h5>
            </div>
            <div class="technology-images d-flex">
              <img class="technology-img" src="../images/images-icons/html.png" alt="">
              <img class="technology-img" src="../images/images-icons/" alt="">
              <img class="technology-img" src="../images/images-icons/" alt="">
              <img class="technology-img" src="../images/images-icons/" alt="">
            </div>
          </div>
          <div class="box short-box" id="tools">
            <div class="box-header d-flex justify-content-center">
              <h5>TOOLS</h5>
            </div>
            <div class="technology-images d-flex">
              <img class="technology-img" src="../images/images-icons/html.png" alt="">
              <img class="technology-img" src="../images/images-icons/" alt="">
              <img class="technology-img" src="../images/images-icons/" alt="">
              <img class="technology-img" src="../images/images-icons/" alt="">
            </div>
          </div>
        </div>
        <div class="">
          <div class="box long-box" id="devops">
            <div class="box-header d-flex justify-content-center">
              <h5>DEVOPS</h5>
            </div>
            <div class="technology-images d-flex flex-column align-items-center">
              <div class="technologies-line1">
                <img class="technology-img" src="../images/images-icons/html.png" alt="">
                <img class="technology-img" src="../images/images-icons/css.png" alt="">
                <img class="technology-img" src="../images/images-icons/sass.png" alt="">
                <img class="technology-img" src="../images/images-icons/javascript.png" alt="">
              </div>
              <div class="technologies-line2">
                <img class="technology-img" src="../images/images-icons/bootstrap.png" alt="">
                <img class="technology-img" src="../images/images-icons/react.png" alt="">
                <img class="technology-img" src="../images/images-icons/jquery.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
