<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div class="divider">
        <div class="line"></div>
        <p> Technologies</p>
      </div>
      <div id="technologies" class="d-flex justify-content-center">
        <div class="left-column">
          <div class="box long-box" id="frontend">
            <div class="box-header d-flex justify-content-center">
              <h5>FRONTEND</h5>
            </div>
            <div class="technology-images-long">
              <div class="technologies-line1">
                <img class="technology-img" src="../images/images-icons/html.png" alt="html">
                <img class="technology-img" src="../images/images-icons/css.png" alt="css">
                <img class="technology-img" src="../images/images-icons/sass.png" alt="sass">
                <img class="technology-img" src="../images/images-icons/javascript.png" alt="javascript">
              </div>
              <div class="technologies-line2">
                <img class="technology-img" src="../images/images-icons/bootstrap.png" alt="bootstrap">
                <img class="technology-img" src="../images/images-icons/react.png" alt="react">
                <img class="technology-img" src="../images/images-icons/jquery.png" alt="jquery">
              </div>
            </div>
          </div>
        </div>
        <div class="middle-column">
          <div class="box short-box" id="backend">
            <div class="box-header d-flex justify-content-center">
              <h5>BACKEND</h5>
            </div>
            <div class="technology-images-short">
              <img class="technology-img" src="../images/images-icons/ruby.png" alt="ruby">
              <img class="technology-img" src="../images/images-icons/rails.png" alt="rails">
              <img class="technology-img" src="../images/images-icons/node.png" alt="node">
              <img class="technology-img" src="../images/images-icons/sql.png" alt="sql">
            </div>
          </div>
          <div class="box short-box" id="tools">
            <div class="box-header d-flex justify-content-center">
              <h5>TOOLS</h5>
            </div>
            <div class="technology-images-short">
              <img class="technology-img" src="../images/images-icons/vsc.png" alt="vsc">
              <img class="technology-img" src="../images/images-icons/figma.png" alt="figma">
              <img class="technology-img" src="../images/images-icons/trello.png" alt="trello">
              <img class="technology-img" src="../images/images-icons/photoshop.png" alt="photoshop">
            </div>
          </div>
        </div>
        <div class="right-column">
          <div class="box long-box" id="devops">
            <div class="box-header d-flex justify-content-center">
              <h5>DEVOPS</h5>
            </div>
            <div class="technology-images-long">
              <div class="technologies-line1">
                <img class="technology-img" src="../images/images-icons/heroku.png" alt="heroku">
                <img class="technology-img" src="../images/images-icons/github.png" alt="github">
                <img class="technology-img" src="../images/images-icons/git.png" alt="git">
                <img class="technology-img" src="../images/images-icons/npm.png" alt="npm">
              </div>
              <div class="technologies-line2">
                <img class="technology-img" src="../images/images-icons/webpacker.png" alt="webpacker">
                <img class="technology-img" src="../images/images-icons/netlify.png" alt="netlify">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
