<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div class="divider">
        <div class="line"></div>
        <p> Technologies</p>
      </div>
      <div id="technologies">

      </div>
    </div>
  </div>
</div>
