<div class="divider">
  <div class="line"></div>
  <p> Technologies</p>
</div>

<div class="container tech-container">
  <div class="tech-frontend">
    <h5>FRONTEND</h5>
    <div class="tech-content">
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/html.png" alt="HTML5"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/css.png" alt="CSS3"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/sass.png" alt="SASS"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/javascript.png" alt="JavaScript ES6"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/react.png" alt="React"></article>
      <%# <article class="tech-details"><img class="technology-img" src="../images/images-icons/jquery.png" alt="jquery"></article> %>
    </div>
  </div>

  <div class="tech-backend">
    <h5>BACKEND</h5>
    <div class="tech-content">
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/ruby.png" alt="Ruby"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/rails.png" alt="Ruby on Rails"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/node.png" alt="Node.js"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/sql.png" alt="Postgre SQL"></article>
    </div>
  </div>

  <div class="tech-tools">
    <h5>TOOLS</h5>
    <div class="tech-content">
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/vsc.png" alt="VS Code"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/figma.png" alt="Figma"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/trello.png" alt="Trello"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/photoshop.png" alt="Photoshop"></article>
    </div>
  </div>

  <div class="tech-devops">
    <h5>DEVOPS</h5>
    <div class="tech-content">
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/heroku.png" alt="Heroku"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/github.png" alt="GitHub"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/git.png" alt="Git"></article>
      <article class="tech-details"><img class="technology-img" src="../images/images-icons/npm.png" alt="npm"></article>
      <%# <article class="tech-details"><img class="technology-img" src="../images/images-icons/webpacker.png" alt="webpacker"></article> %>
      <%# <article class="tech-details"><img class="technology-img" src="../images/images-icons/netlify.png" alt="netlify"></article> %>
    </div>
  </div>
</div>
