.navigation {
  background: $light-purple;
  position: sticky;
  top: 0;
  z-index: 1;

  a:hover {
    color: #6f6275;
  }
}

#music-link {
  position: absolute;
  top: 0px;
  right: 0px;
  width: fit-content;
}
