.portfolio-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
}

.portfolio-item {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1.5rem;
  background-color: $light-purple;
  transition: all .4s ease;

  h3 {
    margin-top: 1em;
  }
}

.portfolio-item:hover {
  background-color: $ash-purple;

  .swiper-pagination-bullet {
    background: white;
  }
}

.portfolio-item-img {
  border-radius: 5px;
  overflow: hidden;
}

.portfolio-info-container {
  display: flex;
  flex-direction: column;
}

.portfolio-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: white;
    transition: all 0ms;
  }

  a:active {
    color: $light-purple;
  }

  .portfolio-icons-container {
    display: flex;
  }

  .portfolio-icon {
    padding: 5px;
  }
}



.swiper {
  font-size: .8rem;
  padding-bottom: 2.5rem;
  max-width: 20.5rem;
  z-index: 0;
}

.swiper-pagination-bullet {
  background: $ash-purple;
}


@media screen and (max-width: 768px) {
  .portfolio-container {
    // gap: 1rem;
    grid-template-columns: 1fr;
  }

  .portfolio-title-container p {
    font-size: .8em;
  }

  // .portfolio-item {
  //   padding: 1em;
  // }

  .swiper {
    max-width: 25em;
  }
}

@media screen and (max-width: 375px) {
  .swiper {
    max-width: 18em;
  }
}
