#technologies {
  ul {
    list-style: none;
  }

  .box {
    background-color: white;
    border: 1px solid $light-purple;
    margin: 15px;
  }

  .box-header {
    background-color: $light-purple;
    padding: 5px;
  }

  h5 {
    margin: 0;
  }

  .short-box {
    min-width: 278px;
    height: 114px;
  }

  .long-box {
    min-width: 270px;
    height: 175px;
  }

  .technology-images-long {
    display: flex;
    margin: 8px;
    flex-direction: column;
    align-items: center;
  }

  .technology-images-short {
    display: flex;
    margin: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .technology-img {
    max-width: 60px;
    padding: 8px;
  }
}
