<!-- NavBar Section -->
<%= partial 'partials/navbar' %>
<div class="container ">
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Portfolio Section -->
  <%= partial 'partials/portfolio' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
