<div class="container ">
    <!-- NavBar Section -->
  <%= partial 'partials/navbar' %>

  <!-- Social buttons Section -->
  <%= partial 'partials/social-buttons' %>

  <h1>Coming Soon...</h1>
</div>
